/attic/
/.vscode/
/subprojects/*
!/subprojects/*.wrap
/uv.lock
/.python-version
/compile_commands.json
/.cache/
# pixi environments
.pixi/*
!.pixi/config.toml
# Working/output directories
benchout/
/work/
/output/
