[project]
name = 'apitofsim'
version = '0.0.1'
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "numpy",
    "pandas",
    "scikit-learn>=1.7.2",
]

[build-system]
build-backend = 'mesonpy'
requires = [
    "meson-python",
    "meson >= 1.3.0",
]

[dependency-groups]
dev = [
    "meson-python>=0.18.0",
    "pip>=25.2",
]

[tool.meson-python.args]
install = ['--skip-subprojects']
setup = ['-Dpython=enabled']
