name: Build Python wheels

on:
  push:
    branches:
      - main
  workflow_dispatch:
  pull_request:
    branches:
      - main
  release:
    types: [published]

jobs:
  build_wheels:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        #os: [ubuntu-latest, windows-latest, macos-14]
        os: [ubuntu-latest, macos-14]

    steps:
      - uses: actions/checkout@v5

      - if: matrix.os == 'macos-14'
        run: |
          brew install libomp

      - name: Build wheels
        uses: pypa/cibuildwheel@v3.1.4
        env:
          MACOSX_DEPLOYMENT_TARGET: "14.0"

      - name: Upload wheels as workflow artifact
        uses: actions/upload-artifact@v4
        with:
          name: cibw-wheels-${{ matrix.os }}-${{ strategy.job-index }}
          path: ./wheelhouse/*.whl

      - name: Upload wheels to release
        if: github.event_name == 'release'
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: ./wheelhouse/*.whl
          file_glob: true
          overwrite: true
          tag: ${{ github.ref }}
